@import "colors.scss";
@import "typography.scss";
@import "screens.scss";

* {
    box-sizing: border-box;
}

html {
    font-family: $trebuchet;
    font-size: $base-font-size;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: url(../images/Sunny.jpeg);
    background-size: cover;
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.5);
}

.main-wrapper {
    margin: 2rem;

    @media screen and (min-width:$desktop) {
        margin: 4rem;
    }

    .header {
        text-align: center;
        color: $color-white;
        text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
        -webkit-text-stroke: 0.5px $color-blue;
        paint-order: stroke fill;

        h1 {
            margin: 0;
            padding: 0;


        }

        h2 {
            margin: 0.5rem;
            font-size: medium;

            @media screen and (min-width:$desktop) {
                font-size: larger;
            }
        }
    }

    #search {
        margin-top: 3rem;

        form {
            display: flex;
            gap: 2rem;
            justify-content: center;

            input {
                max-width: 500px;
            }
        }
    }

    .weather {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        margin-bottom: 3rem;
        border-radius: 20px;

        @media screen and (min-width:$desktop) {
            display: flex;
            flex-direction: row;
            min-width: 80%;
            height: 100%;
            justify-content: center;
            margin: auto;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }

        .weatherInfo {
            margin-top: 2rem;
            background-color: rgba(255, 255, 255, 0.55);
            min-width: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;

            @media screen and (min-width:$desktop) {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                border-top-right-radius: 0;
            }


            .headerWeather {
                padding-top: 1rem;
                display: flex;
                text-align: center;
                margin: auto;
                justify-content: space-around;
                padding-left: 6rem;
                padding-right: 6rem;

                h3 {
                    margin: auto;
                    font-size: 1rem;
                    padding-left: 0.5rem;
                    padding-top: 0.5rem;

                    @media screen and (min-width:$desktop) {
                        font-size: 1.5rem;
                    }

                }

                i {
                    margin: auto;
                    cursor: pointer;
                }
            }

            @media screen and (min-width:$desktop) {
                display: flex;
                flex-direction: column;
                min-width: 1000px;
                margin-top: 0;
                background-color: rgba(255, 255, 255, 0.55);

                .headerWeather {
                    padding-top: 1rem;
                    display: flex;
                    text-align: center;
                    gap: 3rem;
                    margin: auto;
                }

                h3 {
                    margin: auto;
                }

                i {
                    margin: auto;
                    cursor: pointer;
                }
            }

            #mainCityInfo {
                margin-top: 2rem;
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @media screen and (min-width:$desktop) {
                    margin-top: 2rem;
                    margin-bottom: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                img {
                    width: 100px;
                }

                h4 {
                    font-size: 1rem;

                    @media screen and (min-width:$desktop) {
                        font-size: 1.5rem;
                    }
                }

                p {
                    padding: 0;
                    margin: 0;
                    font-size: 0.75rem;

                    @media screen and (min-width:$desktop) {
                        font-size: medium;
                    }

                }
            }

            #daysInfo {
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;

                div {
                    padding: 0.5rem 2rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    text-align: center;

                    #low-high {
                        display: block;
                    }

                    #high {
                        display: none;
                    }

                    #low {
                        display: none;
                    }

                    @media screen and (min-width:600px) {
                        #low-high {
                            display: none;
                        }

                        #high {
                            display: block;
                        }

                        #low {
                            display: block;
                        }
                    }

                    h6 {
                        max-width: 90px;
                        margin: 0;
                    }

                    img {
                        width: 50px;
                        margin: 0;
                    }

                    p {
                        width: 80px;
                    }

                }

                @media screen and (min-width:$desktop) {
                    margin-top: 2rem;
                    display: flex;
                    flex-direction: row;
                    text-align: center;
                    justify-content: space-evenly;
                    align-items: center;
                    padding: 0;
                    margin: 2rem 1rem;

                    div {
                        width: 120px;
                        display: flex;
                        flex-direction: column;
                        height: 170px;
                        align-items: center;
                        margin-bottom: 1rem;
                        padding: 0;

                        #low-high {
                            display: none;
                        }

                        #high {
                            display: block;
                            padding-top: 0.5rem;
                        }

                        #low {
                            display: block;
                        }

                        h6 {
                            min-height: 35px;

                        }

                        #condition {
                            height: 90px;
                            text-align: center;
                        }
                    }

                }

                img {
                    width: 50px;
                    height: 50px;
                    margin-bottom: 1rem;
                }

                h6 {
                    font-size: 0.75*$base-font-size
                }

                p {
                    font-size: 0.75*$base-font-size;
                    margin: 0;
                }

            }

        }

        .saved {
            background-color: rgba(255, 255, 255, 0.55);
            border-top: 1px solid $color-grey-div;
            min-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 2rem;
            padding: 1rem 3rem;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;

            @media screen and (min-width:$desktop) {
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                border-bottom-left-radius: 0;
            }


            p {
                text-align: center;
            }

            .savedHeader {
                padding-top: 1rem;
                text-align: center;
                margin: auto;
                display: flex;
                justify-content: center;
                padding: 0;


                span {
                    padding-right: 1rem;
                    padding-left: 0.5rem;
                }

                p {
                    padding: 0;
                    font-weight: bold;
                    text-align: center;
                }

                i {
                    margin: auto;
                    padding: 0;
                }
            }

            @media screen and (min-width:$desktop) {
                min-width: 20%;
                display: flex;
                flex-direction: column;
                justify-content: start;
                padding-top: 1rem;
                padding: 1rem 1rem;
                background-color: rgba(255, 255, 255, 0.55);
                border-left: 1px solid $color-grey-div;
                border-top: none;

                .savedHeader {
                    padding-top: 1rem;
                    text-align: start;
                    margin: 0;
                    display: flex;
                    justify-content: start;
                    padding: 0;

                    span {
                        padding-right: 1rem;
                        padding-left: 0.5rem;
                    }

                    p {
                        padding: 0;
                        font-weight: bold;
                    }

                    i {
                        margin: auto;
                        padding: 0;
                    }

                }

                #savedCity {
                    width: 50%;
                    padding-left: 0.5rem;
                    padding-top: 1rem;
                    padding-right: 2rem;
                    margin-right: 1rem;

                    @media screen and (min-width:$desktop) {
                        width: 100%;
                        padding: 0;
                    }

                    #clickable {
                        cursor: pointer;
                        transition: font-weight 50ms;

                        p {
                            text-align: center;

                            @media screen and (min-width:$desktop) {
                                text-align: start;
                            }
                        }

                        &:hover {
                            font-weight: bold;
                            color: $color-black;
                        }
                    }

                }
            }
        }
    }

    .news {
        max-width: 100%;
        align-items: center;
        margin: auto;

        h2 {
            color: $color-white;
            text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
            -webkit-text-stroke: 0.5px $color-blue;
            paint-order: stroke fill;
        }

        #newsheader {
            text-align: center;
        }

        @media screen and (min-width:$desktop) {
            max-width: 1200px;
            align-items: center;
            margin: auto;

            #newsheader {
                text-align: start;
            }

        }

        .news-wrapper {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 3rem;


            @media screen and (min-width:$desktop) {
                max-width: 1200px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 3rem;
                gap: 2rem;
            }

            #mainNews {
                min-width: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                // background-color: rgba(255, 255, 255, 0.55);
                border-radius: 20px;
                color: $color-black;
                margin-bottom: 1rem;


                div {
                    position: relative;
                    text-align: center;
                    background-color: rgba(255, 255, 255, 0.55);
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;

                    #read {
                        position: absolute;
                        font-size: 0.75rem;
                        // top: 12px;
                        // right: 16px;
                        bottom: 15px;
                        right: 16px;
                        text-decoration: none;
                        background-color: $color-blue;
                        color: $color-white;
                        padding: 0.1rem 0.5rem;
                        border-radius: 20px;
                        text-shadow: none;
                        -webkit-text-stroke: 0;
                        transition: filter 100ms, font-weight 100ms;

                        &:hover {
                            font-weight: bold;
                            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        }
                    }

                    h6 {
                        padding-top: 2rem;
                        margin: 0 2rem;
                    }

                    p {
                        font-size: 0.75rem;
                        padding: 1rem;
                        margin: 0 2rem;
                        font-weight: bold;
                        margin-bottom: 1rem;
                        font-weight: 400;

                        @media screen and (min-width:$desktop) {
                            max-height: 100%;
                        }
                    }
                }

                @media screen and (min-width:$desktop) {
                    min-width: 60%;
                    display: flex;

                    div {
                        text-align: center;
                        width: 100%;
                        background-color: rgba(255, 255, 255, 0.55);
                        border-bottom-left-radius: 20px;
                        border-bottom-right-radius: 20px;
                        // height: 100px;
                    }
                }

                a {
                    text-decoration: none;
                    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
                    // -webkit-text-stroke: 0.75px $color-grey-div;
                    paint-order: stroke fill;
                    color: $color-black;
                }

                img {
                    max-width: 100%;
                    z-index: 0;
                    height: 400px;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }
            }

            #otherNews {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .otherNewsDiv {
                    display: flex;
                    position: relative;
                    background-color: rgba(255, 255, 255, 0.55);
                    color: $color-black;
                    border-radius: 20px;

                    p {
                        font-size: 0.75rem;
                        text-align: start;
                        padding-bottom: 0.5rem;
                        margin: 0.5rem 0.2rem;
                        font-weight: bold;
                        padding-left: 1rem;
                        padding-right: 1rem;

                        @media screen and (min-width:$desktop) {
                            font-size: 0.75rem;
                            text-align: start;
                            padding-bottom: 2rem;
                            margin: 0.5rem 1rem;
                            font-weight: bold;
                        }

                    }

                    a {
                        position: absolute;
                        font-size: 0.75rem;
                        bottom: 8px;
                        right: 16px;
                        text-decoration: none;
                        background-color: $color-blue;
                        color: $color-white;
                        padding: 0.1rem 0.5rem;
                        border-radius: 20px;
                        transition: filter 100ms, font-weight 100ms;

                        &:hover {
                            font-weight: bold;
                            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        }
                    }
                }

            }

        }

    }

}

footer {
    text-align: center;
    font-weight: bold;
    color: $color-white;
}